<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507379447654-v8lp086gibfqeivqs8evmf9toono61f3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507379447654-v8lp086gibfqeivqs8evmf9toono61f3</string>
	<key>API_KEY</key>
	<string>AIzaSyAWHB0wExK4rDc-Nrtz6hNnxBuqyVWOmoU</string>
	<key>GCM_SENDER_ID</key>
	<string>507379447654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Harper</string>
	<key>PROJECT_ID</key>
	<string>harper-722aa</string>
	<key>STORAGE_BUCKET</key>
	<string>harper-722aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507379447654:ios:9b85ca2896ea682a51faa7</string>
	<key>DATABASE_URL</key>
	<string>https://harper-722aa.firebaseio.com</string>
</dict>
</plist>